.cmb2-media-status .img-status .cmb2-remove-file-button {
  top: -7px!important;
}

.cmb2-media-item {
  line-height: 0;
  position: relative;
  width: auto;
  height: auto;
  display: inline-block;
  margin-top: 20px;
}

.cmb2-media-item p {
  margin: 0;
  line-height: 0!important;
}

.cmb2-media-item img {
  cursor: pointer;
  padding: 0!important;
  margin: 0!important;
  border: none!important;
}

.dot {
  text-align: center;
  position: absolute;
  width: 24px;
  height: 24px;
  background: rgba(255,255,255, 1);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  line-height: 24px;
  font-size: 12px;
  font-weight: bold;
  transition: box-shadow .214s ease-in-out, transform .214s ease-in-out, background .214s ease-in-out;
}

.dot.ui-draggable-dragging {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .5);
  transform: scale3d(1.2, 1.2, 1.2);
  background: rgba(255,255,255, .7);
}
